<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>783427513184-aql706pkhqsvdtgins2fqpp32o8ne2ju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.783427513184-aql706pkhqsvdtgins2fqpp32o8ne2ju</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>783427513184-4f365as03vaqcfgb9miubf0sm2r6bek9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC1BQ-BrOlrMvuHbVQH5XsUCIBdrCB29ik</string>
	<key>GCM_SENDER_ID</key>
	<string>783427513184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.crohn</string>
	<key>PROJECT_ID</key>
	<string>crohns-96271</string>
	<key>STORAGE_BUCKET</key>
	<string>crohns-96271.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783427513184:ios:dc0369f862385bc2bc8c05</string>
</dict>
</plist>